.git/
.av/
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
venv/
env/
.idea/
.vscode/
tests/
Dockerfile
docker-compose.yml
.gitignore
README.md
build/
dist/
*.egg-info/
.env
*.log
*.safetensors
*.pt
*.csv
*.parquet
